<div class="col-md-6 col-md-offset-3">

  <div class="login-form">


<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<div class="form-group">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true, placeholder: "firstname", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true, placeholder: "lastname", class: "form-control"  %>
  </div>

 <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true , placeholder: "username", class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :regn %><br />
    <%= f.text_field :regn, autofocus: true , placeholder: "registration number", class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, :start_year=>1900 ,class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, placeholder: "photo",class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true , placeholder: "Email" ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" , placeholder: "password", class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: "password_confirmation" ,class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up" , class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>