




<div class="ligne">


	<div class= "round-image-50"> <%=image_tag  @post.user.image(:thumb)   %></div>
<h5 class="current-category" style="color:blue">
  
  Title:<%= @post.title %>
</h5>

<p class="current-category" style="color:blue" >Category: <%=@post.category.name %> </p>

<p class="message-desc">

  <%= @post.description %>

</p>
<div class="row">
<div class="col-xs-6 col-md-3">
<div class="thumbnail">
<%= image_tag @post.document.url %>
</div>
</div>
</div>
<%=link_to like_post_path(@post), method: :put, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-heart"  style="color:white" ></span>
   <h8  style="color:white" >Like </h8>
 <h8  style="color:white" > <%= @post.get_upvotes.size %> </h8>
     <% end %>
 <p class="current-category" style="color:black;">Posted <%=time_ago_in_words (@post.created_at)  %> by  <%=  @post.user.email %> </p>
<div class="links btn-group">
<% if current_user == @post.user %>
<%= link_to 'Edit', edit_post_path(@post) , class: "btn btn-default" %> 
<%= link_to 'Destroy',@post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
<%end%> <br>

<h4 class="btn btn-default">(<%= @post.comments.count %>)comments</h4><br>

                                                                                                                                                          
		<!-- renders the _comment.html.erb partial file. -->
	<br>	<p><%= render @post.comments.limit(7).order("created_at DESC") %></p>

<h3 class="reply-to-msg"></h3>
		<!-- renders the comments form -->
<%= render 'comments/form' %>
<%= link_to 'Back', posts_path , class: "btn btn-default" %>

</div>
</div>
</div>
